<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Crawler</title>
</head>
<body>
    <h1 class="text-3xl text-center">
        Web Crawler
    </h1>
    <table class="table-auto">
        <thead>
            <tr>
                <th>Website</th>
                <th>Link</th>
                <th>Visitado em</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>